*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    padding-bottom: 20px;
}
.position{
    border: 2px solid rgb(221, 14, 14);
    margin: 20px 0;
    width: 500px;
    height: 112px;
    position: relative;
}
.de-po{
    top: 20px;
    left: 20px;
    z-index: -1;
    width: 90px;
    height: 38px;
    background-color: #e7b71c;
    position: absolute;
}
.de-st{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    top: 20px;
    right: 10px;
    width: 90px;
    background-color: aqua;
    position: static;
}
.de-fi{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    top: 20px;
    right: 10px;
    width: 90px;
    background-color: aqua;
    position: absolute;
}
/* float */
.float{
    width: 602px;
    height: 50px;
    border: 1px solid #e7b71c;
}
.xanh{
    float: left;
    width: 200px;
    height: 50px;
    background-color: rgb(175, 219, 108);
}
.do{
    float: left;
    width: 200px;
    height: 50px;
    background-color: rgb(214, 102, 51);
}
.vang{
    float: right;
    width: 200px;
    height: 50px;
    background-color: rgb(211, 214, 22);
}
/* --------------- */
.logo{
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#content {
    overflow: auto;
    height: 100%;
}
#nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}
.column1, .column2, .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
    padding: 10px;
}
li {
    display: inline;
    padding: 5px;
}
/*------------ chuong 16 --------------*/
div.hinh {
    position: relative;
    width: 24%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-right: 20px;
}
div.container {
    text-align: center;
    padding: 10px 20px;
}
.img-hai{
    opacity:0.5;
}
#text-chu{
    position: absolute;
    top: 10px;
    font-size: 10px;
    right: 10px;
}
.img-ba{
    filter: brightness(300%);
}
/* flexbox */
.introduct ul{
    display: flex;
    width: 200px;
    height: 70px;
    background-color: rgb(43, 180, 180);
    align-items: center;
}
.introduct ul li{
    display: inline-flex;
    width: 50px;
    height: 30px;
    color: #fff;
    border: 1px solid ;
    background-color: rgb(165, 140, 29);
}
.flex-container{
	display: flex;
	width: 100%;
	height: 300px;
	background-color: rgb(43, 180, 180);
}
/* -------------------- */
.flex-container div{
	font-size: 30px;
    margin: 50px;
    color: white;
    border: 1px solid black;
    height: 80px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.flex-container div:nth-child(1){
	background-color: #ba97db;
    flex: 1 1 auto;
    order: 2;
}
.flex-container div:nth-child(2){
	flex: auto;
    background-color: burlywood;
    align-self: flex-end;
    order: 3;
}
.flex-container div:nth-child(3){
	order: 1;
}